@{
    ViewData["Title"] = "Editar Contato";
}

<div class="text-center">
<h1 class="display-4">Editar Contato</h1>

</div>

<form>
  <div class="mb-3">
    <label for="nome" class="form-label">Nome</label>
    <input type="text" class="form-control" placeholder="Digite seu nome">
  </div>
  <div class="mb-3">
    <label for="email" class="form-label">Email</label>
    <input type="email" class="form-control" placeholder="Digite o E-mail">
  </div>
   <div class="mb-3">
   <label for="email" class="form-label">Celular</label>
   <input type="email" class="form-control" placeholder="Digite o Celular">
 </div>
 <button type="submit" class="btn btn-primary">Alterar</button>
 <a class="btn btn-secondary" asp-controller="Contato" asp-action="Index" role="button">Voltar</a>

</form>