@{
    ViewData["Title"] = "Pagina Inicial";
}

<div class="text-center">
    <h1 class="display-4">Bem-vindo!</h1>
    <br>
    <p>Projeto MVC de Controle de Contatos</p>
    <br>
    <p>Click na aba contatos para adicionar novos contatos</p>
</div>
